@import "../../reset.css";

.wrapper {
  position: relative;
}
.description {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #0000008f;
  padding: 15px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
