@import '../../../reset.css';

.slideWrapper {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: center;
}
.slideImage {
  height: inherit;
}
.descriptionWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #0000008f;
  padding: 15px;
  & > * {
    text-align: center;
    color: white;
  }
}
.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.descriptionTitle {
  font-size: larger;
  line-height: 2em;
}
