@import '../../reset.css';

$icon-size: 30px;

%flexContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.fullScreenContainer {
  width: auto !important;
  height: 100vh !important;
}
.container {
  position: relative;
  margin: auto;
  width: 600px;
  height: 400px;
  color: white;
  background: black;
  & > * {
    position: absolute;
  }
}
.switchSlidesButtons {
  top: 50%;
}
.icon {
  width: $icon-size;
  height: $icon-size;
  color: silver;
  cursor: pointer;
}
.flexContainer {
  @extend %flexContainer;
}
.slideShowSpeed {
  display: flex;
  align-self: center;
  width: 200px;
}
.settings {
  display: none;
}
.container:hover .settings {
  @extend %flexContainer;
}
